[submodule "external/powerlevel10k"]
	path = external/powerlevel10k
	url = git@github.com:romkatv/powerlevel10k.git
[submodule "external/zsh-completions"]
	path = external/zsh-completions
	url = git://github.com/zsh-users/zsh-completions.git
